//MEDIA QUERY BREAKPOINTS

/* Small devices (portrait tablets and large phones, below 768px) */
$small-screen: /* max-width */ 768px;

/* Medium devices (landscape tablets, 768px and up) */
$mid-screen: /* min-width */ 768px;

/* Large devices (laptops and desktops, 1200px and up) */
$large-screen: /* min-width */ 1200px;