//MEDIA QUERY BREAKPOINTS

/* Extra small devices (phones, 600px and down) */
$x-small-screen: /* max-width */ 600px;

/* Small devices (portrait tablets and large phones, 600px and up) */
$small-screen: /* max-width */ 640px;

/* Medium devices (landscape tablets, 768px and up) */
$mid-screen: /* max-width */ 768px;

$midlarge-screen: 950px;

/* Large devices (laptops/desktops, 992px and up) */
$large-screen: /* max-width */ 1280px;

$container: 1200px;