@import "../assets/variables";

:root {
  /* colors */
  --gold: #d9b75e;
  --light-gold: #fff3d2;
  --off-white: #fffaf4;
  --white: #ffffff;
  --black: #000;
  --grey: #374151;
  --lightGray: #ececec;
  --red: #dc2626;
  --orange: #f59e0b;
  --dark-orange: #b45309;
  --green: #10b981;
  --blue: #3b82f6;
  --dark-blue: #1d4ed8;
  --indigo: #312e81;
  --purple: #5b21b6;
  --pink: #ec4899;
  /* intentions */
  --primary-color: var(--gold);
  --accent-color: var(--light-gold);
  --calendar-band: var(--off-white);
  --news: var(--dark-blue);
  --politics: var(--pink);
  --entertainment: var(--red);
  --opinion: var(--purple);
  --science: var(--green);
  --events: var(--orange);
  --clubs: var(--blue);
  --sports: var(--dark-orange);
  --hover: var(--lightGray);
  /* font size */
  --font: "Josefin Sans", sans-serif;
  --h1: 5.653rem;
  --h2: 3.998rem;
  --h3: 2.827rem;
  --h4: 1.999rem;
  --h5: 1.414rem;
  --small-text: 0.707rem;
  /* boxshadows */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

*,
html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--white);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.75;
  color: var(--black);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--small-text);
}

@media only screen and (min-width: $x-large-screen) {
}

@media only screen and (max-width: $x-large-screen) {
  *,
  html,
  body {
    font-size: 44.5%;
  }
}

@media only screen and  (max-width: $large-screen) {
  *,
  html,
  body {
    font-size: 44.5%;
  }
}

@media only screen and (max-width: $mid-screen) {

}

@media only screen and (max-width: $x-small-screen)  {
}

//The only reason the code is the right size in styleguide.
.prism-editor > textarea{
  font-size: 1.5rem;
  border-radius: 0.3rem;
  border-bottom: 1rem;
  border-top: 1rem;
  border-left: 1rem;
  border-right: 1rem;
  //width: calc(100% + 0.2rem);
}
.prism-editor {
  font-family: var(--font);
  font-size: 1.5rem;
  width: 100%;
}

.token {
 font-size: 1.5rem;
 width: 100%;
 margin-left: 0.01%;
}

pre {
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  -webkit-font-smoothing: antialiased;
}